:root {
  --color-primary: #00a0e9;
  --color-background: #000000;
  --color-text: #ffffff;
  --color-black: #000;
  --color-white: #fff;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  max-width: 100vw;
}

a {
  text-decoration: none;
}